* {
    margin: 0;
    padding: 0;
    color: white;
}

body, html {
    background: #3D3934;
    height: 75vh;
}

a {
    color: white;
    text-decoration: none;
    opacity: 0.7;
}



/* nav */

nav {
    width: 100%;
    height: 65px;
    background: #2D2924;

    display: flex;
    justify-content: center;
    align-content: center;
}

nav img {
    height: 100%;
    object-fit: contain;
    image-rendering: -moz-crisp-edges;         /* Firefox */
    image-rendering:   -o-crisp-edges;         /* Opera */
    image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;  /* IE (non-standard property) */
}

::-webkit-scrollbar {
    display: none;
}