.wrapper {
    width: 100%;
    height: 100%;
}

.container {
    width:90%;
    max-width: 340px;
    min-height: 100px;
    margin: 1vh auto;

    justify-content: center;
    align-content: center;
    flex-direction: row;
    flex-wrap: nowrap;

}

.item {
    width: 100%;
    height: 53px;
    background: #2D2924;
    border-radius: 10px;
    margin-top: 1vh;

    display: flex;
    justify-content: center;
    align-content: center;
}

.item:hover {
    background: #23211e;
}

.item h1 {
    color: white;
    font-size: 1.5rem;
    line-height: 53px;
    font-weight: 100;
}

textarea {
    border: none;
    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    resize: none; /*remove the resize handle on the bottom right*/

    background: none;
    width: 100%;
    height: 100%;
}

.btnContainer {
    width:90%;
    min-height:130px;
    margin: auto;

    display: flex;
    justify-content: center;
    align-content: center;
}

.newBtn {
    margin: auto;
    text-align: center;
}

#editor-controls {
    display: none;
    width: 340px;
    justify-content: space-around;
    align-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: auto;
}
