.wrapper {
    width: 100%;
    height: 100%;
}

.container {
    width:90%;
    max-width: 340px;
    min-height: 500px;
    margin: 1vh auto;
    height: 100%;
}

.item {
    width: 100%;
    height: 53px;
    background: #2D2924;
    border-radius: 10px;
    margin-top: 1vh;

    display: flex;
    justify-content: center;
    align-content: center;
}

.item:hover {
    background: #23211e;
}

.item h1 {
    color: white;
    font-size: 2rem;
    line-height: 53px;
    font-weight: 100;
}

textarea {
    border: none;
    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    resize: none; /*remove the resize handle on the bottom right*/

    background: none;
    width: 100%;
    height: 100%;
}

