body {

}

.wrapper {
    width: 100%;
    height: 100%;

    display:flex;
    justify-content: center;
    align-content: center;
}

form {
    width: 80%;
    max-width: 400px;
    height: 70%;
    min-width: 300px;
    display:flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}

form input {
    width: 30%;
    margin-bottom: 15px;
}

form img {
    width: 40%;
    object-fit: contain;
    margin: 0 auto;
}

.error {
    color: white;
}