<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title th:text="${title}">Default Title</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="css/general.css" />
  <link rel="stylesheet" href="css/home.css" />
  <link rel="stylesheet" href="./javascript/home.js" defer>
</head>
<body>
<div class="wrapper">
  <nav th:replace="nav"></nav>
  <div class="container" id="container">
    <div class="item" id="">
      <h1>Notebook #1</h1>
    </div>
  </div>
</div>
</body>
</html>